{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/album_detail.css' %}">
<div class="container">
  <h1>{{ album.title }}</h1>
  <p>{{ album.description }}</p>
  <div class="row">
    {% for photo in album.photos.all %}
    <div class="col-md-3">
      <a href="{% url 'post_detail' photo.id %}">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}" style="width: 100%; height: auto; cursor: pointer;">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
