{% extends 'base.html' %}

{% block content %}
<article>
    <h2>{{ post.title }}</h2>
    <div style="display: flex; align-items: center; justify-content: center;">
        {% if post.image %}
            <div style="margin-right: 20px;">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 300px; height: auto;">
            </div>
            <div>
                <p>{{ post.content }}</p>
                <button id="use-picture-button" data-post-id="{{ post.id }}">Use this picture</button>
            </div>
        {% endif %}
    </div>
</article>

<script type="text/javascript">
    document.getElementById('use-picture-button').addEventListener('click', function() {
        var postId = this.getAttribute('data-post-id');
        window.location.href = `/create-checkout-session/?post_id=${postId}`;
    });
</script>
{% endblock %}
