{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="success-container">
    <h1>Payment Successful!</h1>
    <p>Thank you for your purchase. Click the button below to download your image.</p>
    <a href="{% url 'download_image' post_id=post_id %}" class="download-button">Download Image</a>
</div>

<style>
    .success-container {
        text-align: center;
        padding: 20px;
    }

    .download-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #040514;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .download-button:hover {
        background-color: #B9D9EB;
    }
</style>
{% endblock %}