/* album_list.css */

/* Style for the list items within the album list */
ul.album-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

ul.album-list li {
    margin-bottom: 10px; /* Add space between list items */
    padding-bottom: 5px; /* Add padding at the bottom of each item */
}

/* Link styling within the album list */
ul.album-list a {
    text-decoration: none; /* Remove underline */
    font-family: 'Raleway', sans-serif;
    color: #040514; /* Initial link color */
    transition: color 0.1s ease; /* Smooth transition for color change */
}

/* Hover effect within the album list */
ul.album-list a:hover {
    color: #040514; /* Maintain initial color on hover */
}

/* Active state (when clicking or tapping) within the album list */
ul.album-list a:active {
    color: #808080; /* Change text color on click/tap */
    background: transparent; /* Ensure no background */
    text-decoration: none; /* Ensure no underline */
}

/* Visited links within the album list */
ul.album-list a:visited {
    color: #8A9A5B; /* Maintain color for visited links */
}

/* Ensure the navbar is not affected */
.navbar a {
    color: #fff; /* Ensure navbar links remain white */
}
