ul.album-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.album-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

ul.album-list a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #040514;
    transition: color 0.1s ease, background-color 0.1s ease;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}

ul.album-list a:hover,
ul.album-list a:active {
    color: #040514;
    background-color: #B9D9EB; /* Light blue background for hover and active states */
}

ul.album-list a:visited {
    color: #040514;
}
