.slide-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.slide.active {
  left: 0;
}

.slide img {
  max-width: 120%;
  max-height: 120%;
  object-fit: cover;
  pointer-events: none;
  z-index: 2;
}

.nav-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: #040514;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}

.nav-button:hover {
  transform: translateY(-50%) scale(1.5);
  opacity: 0.8;
}


img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
}

.slide::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 0;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: #040514
    color: #fff;
    min-height: 200px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    max-width: 500px;
    margin: 0 auto;
}